{
    "env": {
        "browser": true,
        "es6": true
    },
      "plugins": [ "html" ],
      "settings": {
          "html/html-extensions": [".html", ".we"],  // consider .html and .we files as HTML
      },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],

    }
}
